# Ignore plik CLI binary (not */plik which would exclude charts/plik/)
client/plik
plikd
/clients
*.db
*.db-wal
*.db-shm
server/files
webapp/dist
/clients
client/client
servers
release
releases
debs
plikd_*.cfg
*node_modules
*.log
*.key
*.crt
.idea
.vscode
plik.iml
coverage.out
/plans
test-results/

